@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300&family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    
}
body{
    overflow-y:hidden;
    overflow-x: hidden;
}
header{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blue; */
    height: 80px;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    /* border: 1px solid purple; */
}
.navegation{
    display: flex;
    align-items: center;
    height: 50px;
    
}
.navegation ul{
    display: flex;
    list-style: none;
    
    justify-content: center;
}
.top-name{
    /* border: 1px solid blue; */
    display: flex;
    color: rgb(78,78,78);
}


li a{
    display: flex;
    text-decoration: none;
    margin: 15px;
    position: relative;
    padding: 5px;
    color: rgb(78,78,78);
    
}
li a::before{
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(78,78,78,.75);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
li a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.nav-resp{
    display: none;
}

/* fim header */
/* começo setion 1 */
.principal{
    height: 90vh;
}
.conteiner-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid red; */
}
.textos-p{
    display: flex;
    flex-direction: column;
    width: 30%;
    
}
.line{
    display: flex;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    margin: 1px;
    border-right: 3px solid rgba(78,78,78,.75);
    
}
.typing-animation{
    
    
    animation: blinkCursor 400ms infinite normal,typing steps(60) 4s 1s normal both;
}
.typing-animation2{
    
    width: fit-content;
    animation: blinkCursor 400ms infinite normal,typing steps(60) 4s 5s normal both;
}
.typing-animation3{
    
    
    animation: blinkCursor 400ms infinite normal,typing steps(60) 4s 8s normal both;
}

@keyframes typing {
    0%{
        width: 0;
    }
    80%{
        width: 100%;
    }
    100%{
        
        border: none;
        
        
    }
    
}

@keyframes blinkCursor {
    0%{
        border-right:1px solid rgba(78,78,78,.75);
    }
    
    100%{
        
        border-right: transparent;
    }
    
}

/* fim principal */
/* inicio botoes */
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    height: 10vh;
    
    padding-bottom: 30px;
}
.conteiner-b{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    background: rgb(29,29,29);
    
}
.conteiner-b button{
    width: 70px;
    height: 50px;
    margin: 10px;
    border: none;
    transition: 0.3s;
    background: transparent;
   
}

.conteiner-b button:hover{
    transform: scale(1.2);
    transition: 0.6s;
}

/* fim sections */
/* inicio responsivo */

@media (max-width:1000px) {

    
    
    header{
        display: flex;
        justify-content: space-evenly;
    }
    
    .navegation{
        display: none;
    }
    .nav-resp{
        display: flex;

    }
    .responsivo{
        background: none;
        border: none;
        transition: 0.3s;
    }
    .top-name{
        font-size: 0.8em;
        padding-right: 10px;
        
    }
    
    .linha{
        content: " ";
        width: 180%;
        height: 2px;
        background-color: rgba(78,78,78,.75);
        margin: 5px;
        
        
    }
    
    .responsivo:hover{
        cursor: pointer;
        transform: scale(1.03);
        transition: 0.6s;

    }
    .conteiner-p{
        width: 100%;
        display: flex;
        
    }
    .textos-p{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .line{
        display: flex;
        width:fit-content;
        font-size: 0.8em;
        border-radius: 5px;
        border-top: 1px solid rgba(78,78,78,.75);
        border-left: 1px solid rgba(78,78,78,.75);
        border-bottom: 2px solid rgba(78,78,78,.75) ;
        white-space: unset;
        padding: 10px;
        margin: 10px;
        
        
    }
    
    .y{
        animation: y 1.5s linear infinite alternate;
    }
    
    @keyframes y {
        100%{
            transform: translateY(0px);
        }
        0%{
            transform: translateY(calc(10px));
        }
        
        
    }
    

    .typing-animation{
        animation: none;
    }
    .typing-animation2{
        animation: none;
    }
    .typing-animation3{
        animation: none;
    }
    .forma{
        height: 100%;
    }
    .conteiner-principal{
      display: flex;
      flex-direction: column;
    
      clear: both;
    }
    
    
}
h3{
    position: relative;
    z-index: 5;
}
h3::before,h3::after{
    position: absolute;
    content: attr(data-text);
    padding: 30px;
    width: 100%;
    height: 100%;
    top: -30px;
    left: -35px;
    z-index: 1;
    background: white;
    color: rgba(78,78,78,.75);
    overflow: hidden;
}
h3::before{
    
    text-shadow: -1px 0 rgba(78,78,78, 0.39);
    animation: glitch-1 2s 0s linear reverse infinite;    
}
h3::after{
    
    text-shadow: -1px 0 rgba(203, 203, 203, 0.749);
    animation: glitch-2 2s 0s linear reverse infinite;        
}
@keyframes glitch-1{
    0% {
        clip: rect(132px, auto, 101px, 30px);
      }
      5% {
        clip: rect(17px, auto, 94px, 30px);
      }
      10% {
        clip: rect(40px, auto, 66px, 30px);
      }
      15% {
        clip: rect(87px, auto, 82px, 30px);
      }
      20% {
        clip: rect(137px, auto, 61px, 30px);
      }
      25% {
        clip: rect(34px, auto, 14px, 30px);
      }
      30% {
        clip: rect(133px, auto, 74px, 30px);
      }
      35% {
        clip: rect(76px, auto, 107px, 30px);
      }
      40% {
        clip: rect(59px, auto, 130px, 30px);
      }
      45% {
        clip: rect(29px, auto, 84px, 30px);
      }
      50% {
        clip: rect(22px, auto, 67px, 30px);
      }
      55% {
        clip: rect(67px, auto, 62px, 30px);
      }
      60% {
        clip: rect(10px, auto, 105px, 30px);
      }
      65% {
        clip: rect(78px, auto, 115px, 30px);
      }
      70% {
        clip: rect(105px, auto, 13px, 30px);
      }
      75% {
        clip: rect(15px, auto, 75px, 30px);
      }
      80% {
        clip: rect(66px, auto, 39px, 30px);
      }
      85% {
        clip: rect(133px, auto, 73px, 30px);
      }
      90% {
        clip: rect(36px, auto, 128px, 30px);
      }
      95% {
        clip: rect(68px, auto, 103px, 30px);
      }
      100% {
        clip: rect(14px, auto, 100px, 30px);
      }
}
@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
      }
      5% {
        clip: rect(36px, auto, 4px, 30px);
      }
      10% {
        clip: rect(85px, auto, 66px, 30px);
      }
      15% {
        clip: rect(91px, auto, 91px, 30px);
      }
      20% {
        clip: rect(148px, auto, 138px, 30px);
      }
      25% {
        clip: rect(38px, auto, 122px, 30px);
      }
      30% {
        clip: rect(69px, auto, 54px, 30px);
      }
      35% {
        clip: rect(98px, auto, 71px, 30px);
      }
      40% {
        clip: rect(146px, auto, 34px, 30px);
      }
      45% {
        clip: rect(134px, auto, 43px, 30px);
      }
      50% {
        clip: rect(102px, auto, 80px, 30px);
      }
      55% {
        clip: rect(119px, auto, 44px, 30px);
      }
      60% {
        clip: rect(106px, auto, 99px, 30px);
      }
      65% {
        clip: rect(141px, auto, 74px, 30px);
      }
      70% {
        clip: rect(20px, auto, 78px, 30px);
      }
      75% {
        clip: rect(133px, auto, 79px, 30px);
      }
      80% {
        clip: rect(78px, auto, 52px, 30px);
      }
      85% {
        clip: rect(35px, auto, 39px, 30px);
      }
      90% {
        clip: rect(67px, auto, 70px, 30px);
      }
      95% {
        clip: rect(71px, auto, 103px, 30px);
      }
      100% {
        clip: rect(83px, auto, 40px, 30px);
      }
    
}



